<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>About</title>
<link rel="stylesheet" href="cstyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div th:replace="welcome:: header"></div>
<section><br><br>
<b>Start the Game</b><br>
 On the welcome page, click the Start button to begin your journey.<br>
Enter Your Name: Input your name and click Start again to proceed to the game.<br>
<b>Game Mechanics</b><br>
You will see two randomly generated numbers displayed on the screen.<br>
Click on an operator (+, -, *, /) to initiate the calculation.<br>
Once you select an operator, a timer will start counting down from 15 seconds.<br><br>
<b>Objective</b><br>
Your goal is to quickly calculate the result of the operation between the two numbers and submit your answer before the timer runs out. If you fail to submit your answer within 15 seconds, the operation will be automatically submitted.<br><br>
<b>Challenge Yourself</b><br>
Fast Calculator is designed to challenge your speed and accuracy in basic arithmetic operations. Compete against yourself or others to see who can achieve the highest score!<br>
Get ready to sharpen your math skills and have fun while doing it! Enjoy the game! 
</section>


</body>
</html>