*{
	padding:0;
	margin :0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: montserrat;
}
nav{
	background: #454545;
	height: 80px;
	width:100%;
	postion:fixed;
	top:0;
	
	
}
label.logo{
	color:white;
	font-size:35px;
	padding: 0 100px;
	line-height: 80px;
	font-weight:bold;
}
nav ul{
	float: right;
	margin-right:20px;
	
}
nav ul li{
	display:inline-block;
	line-height:80px;
	margin:0 5px;
}
nav ul li a{
	color:white;
	font-size: 20px;
	text-transform: uppercase;
}

a.active,a.hover{
	background:#2a0c4b;
	transition: .5s;
	
}

.checkbtn{
	font-size:30px;
	color:white;
	float:right;
	margin-right:30px;
	line-height:80px;
	cursor:pointer;
	display:none;
	
}

#check{
	display:none;
}

@media (max-width: 952px){
	label.logo{
	font-size:30px;
	padding-left:50px;
	}
	nav ul li a{
	font-size:16px;
	}
	
}
@media (max-width: 858px){
	.checkbtn{
	display:block;
	}
	
	ul{
	position:fixed;
	width:100%;
	height: 100vh;
	background:#2c3e50;
	top:80px;
	left: -100%;
	text-align: center;
	transition: all .5s;
	}
	nav ul li{
	display:block;
	margin: 50px 0;
	line-height:30px;
	}
	nav ul li a{
	font-size:20px;
	}
	a.active,a.hover{
	background:none;
	color: #0082e6;
	
}
#check:checked ~ul{
	left:0;
}

}
section{
	background:url(challenge.jpg) no-repeat;
	background-size: cover;
	height: calc(100vh - 80px);
	text-align: center;
}
.levelsel{
	font-size:30px;
	color:white;
	line-height:80px;
	cursor:pointer;
}



.container {

  padding: 40px;
  border-radius: 10px;
text-align: right;

   
  
}

.timer {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 20px;
  
  
}

.colon {
  margin: 0 5px;
}

.controls button {
  margin: 0 72px;
  padding: 10px;
  font-size: 14px;
  background-color: #cfcc32;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  
  
}
div.time{
	padding: 20px;
 font-size: 14px;
  border-radius: 10px;
text-align: right;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;

}
button.gamelink{  
	margin: 0 72px;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  	color: #454545;
  	border-radius: 4px;
  text-align: center;
  
	}
	
	section.homesec{
		margin: 0 72px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
            font-family: Arial, sans-serif;
	}